//color variables
$dark-blue: #1e3264;
$dark-pink: #a40e88;
$dark-green: #188a62;
$less-dark-blue: #057a8b;
$pink-background: rgba(164, 14, 136, 0.08);
$intro-page-light-green-gradient: #ecfaed;
$intro-page-light-blue-gradient: #bde5f9;
$about-page-light-pink-gradient: #fde7f9;
$about-page-light-blue-gradient: #aacaef;
$projects-page-light-green-gradient: #c5f5e4;
$projects-page-light-yellow-gradient: #fdf8d7;
$contact-page-light-blue-gradient: #97ecfb;
$contact-page-light-pink-gradient: #f3d4d8;
