//color variables
$dark-blue: #1e3264;
$dark-pink: #a40e88;
$dark-green: #209153;
$pink-background: rgba(164, 14, 136, 0.08);
$intro-page-light-green-gradient: #ecfaed;
$intro-page-light-blue-gradient: #bde5f9;
$about-page-light-pink-gradient: #fde7f9;
$about-page-light-blue-gradient: #aacaef;
$projects-page-light-green-gradient: #c0f1d6;
$projects-page-light-purple-gradient: #ead5fd;
