//color variables
$dark-blue: #1e3264;
$intro-page-light-green-gradient: #ecfaed;
$intro-page-light-blue-gradient: #bde5f9;
$about-page-light-pink-gradient: #fde7f9;
$about-page-light-blue-gradient: #aacaef;
