@import "../../library/colors";
@import "../../library/mixins";

.contact-page-container {
  height: 100vh;
  @include flex-div-centered;
}

.contact-div {
  width: 930px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: max-content;
  padding-bottom: 30px;
  background: $pink-background;
}

.heading-container {
  margin-top: -3%;
}

.contact-content-container {
  font-family: 'Circular', sans-serif;
  width: 80%;
  font-size: 24px;
  color: $dark-blue;
  margin-top: 30px;
  padding: 0 35px;
  text-align: justify;
}

.contact-button-container {
  display: flex;
  justify-content: center;
}

.pic-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-button {
  color: $less-dark-blue;
}

.mention-image {
  width: 235px;
  height: auto;
  object-fit: contain;
}

.button-container {
  font-size: 50px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  padding: 15px;

  &:active, &:hover, &:focus {
    outline: none;
  }
}

@media screen and (max-width: 1050px) {
  .contact-div {
    width: 650px;
  }

  .contact-content-container {
    font-size: 20px;
  }

  .mention-image {
    width: 210px;
  }

  .button-container {
    font-size: 40px;
  }
}

@media screen and (max-width: 775px){
  .contact-div {
    width: 80%;
  }

  .contact-content-container {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .mention-image {
    display: none;
  }

  .pic-container {
    flex-direction: column-reverse;
  }

  .button-container {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .heading-container {
    margin-top: -6%;
  }
}
