@import "../../library/colors";
@import "../../library/mixins";

.about-page-container {
  height: 100vh;
  @include flex-div-centered;
}

.about-div {
  width: 930px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: max-content;
  padding-bottom: 30px;
  background: $pink-background;
}

.heading-container {
  margin-top: -3%;
}

.about-content-container {
  display: flex;
  align-items: center;
}

.about-description {
  font-family: 'Circular', sans-serif;
  font-size: 24px;
  color: $dark-blue;
  margin-top: 30px;
  padding: 0 35px;
  text-align: justify;
}

.content-paragraph {
  margin: 0 0 20px;
}

.about-section-image {
  width: 400px;
}

@media screen and (max-width: 975px) {
  .about-div {
    width: 725px;
  }

  .about-description {
    font-size: 20px;
  }

  .about-section-image {
    width: 325px;
  }
}

@media screen and (max-width: 775px) {
  .about-div {
    width: 585px;
  }

  .about-description {
    font-size: 16px;
  }

  .about-section-image {
    width: 270px;
  }
}

@media screen and (max-width: 640px) {
  .about-div {
    width: 80%;
  }

  .about-content-container {
    flex-direction: column;
  }

  .about-section-image {
    display: none;
  }

  .about-description {
    font-size: 14px;
  }

}

@media screen and (max-width: 550px) {
  .heading-container {
    margin-top: -6%;
  }
}

@media screen and (max-width: 360px) {
  .about-section-image {
    width: 250px;
  }

  .about-description {
    font-size: 14px;
  }
}
