@import "../../library/colors";
@import "../../library/mixins";

.intro-page-container {
    height: 100vh;
    @include flex-div-centered;
}

.intro-div {
    width: 80%;
    position: relative;
    bottom: 50px;
    @include flex-div-centered;
}

.intro-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.intro-heading {
    font-size: 50px;
    background-color: $dark-blue;
    color: white;
    padding: 30px 120px 30px 50px;
    margin: 0 0 0 -50px ;
}

.intro-sub-heading {
    font-size: 25px;
    background-color: white;
    color: $dark-blue;
    padding: 10px 20px;
    margin: -25px 25px 0 20px;
}

.intro-background {
    background-color: $dark-blue;
    opacity: 0.08;
    width: 80%;
    height: 400px;
    position: absolute;
    top: 50px;
}
